html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", sans-serif; }

.site-header .title {
  font-size: 1.5em;
  line-height: 2em; }
.site-header .subtitle {
  font-size: 1.2em;
  line-height: 1.2em; }

.grid-title {
  font-size: 1.2em; }

.site-header {
  width: 95%;
  margin: 0 auto;
  padding-top: .5em;
  box-sizing: border-box; }

footer {
  padding-bottom: 1000px; }

.grid-title {
  padding: 1em; }

.comic-page__strip, .comic-page__full {
  width: 98%;
  margin: 1em auto 2em;
  max-width: 800px;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: border-box; }
  .comic-page__strip .row, .comic-page__full .row {
    box-sizing: border-box; }
    @media (min-width: 700px) {
      .comic-page__strip .row, .comic-page__full .row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: no-wrap;
        flex-wrap: no-wrap; } }
    .comic-page__strip .row .panel, .comic-page__full .row .panel {
      -webkit-flex-grow: 1;
      flex-grow: 1; }
.comic-page__strip .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  @media (min-width: 700px) {
    .comic-page__strip .row {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: no-wrap;
      flex-wrap: no-wrap; } }
.comic-page__strip .panel {
  max-width: 320px;
  min-width: 300px; }
  @media (min-width: 700px) {
    .comic-page__strip .panel {
      min-width: 100px; } }

.panel {
  box-sizing: border-box;
  margin: .3em; }

.one-row .panel {
  min-height: 200px; }

.two-row .panel {
  min-height: 440px; }

.three-row .panel {
  min-height: 290px; }

.four-row .panel {
  min-height: 220px; }

.kirby-1 .row {
  -webkit-flex-direction: column;
  flex-direction: column; }

#aja-1-panel-1 {
  min-height: 220px; }

#aja-1-panel-2, #aja-1-panel-3, #aja-1-panel-4 {
  min-height: 220px; }

#aja-1-panel-5 {
  min-height: 400px; }

#aja-2-panel-1 {
  min-height: 150px; }

#aja-2-panel-2 {
  -webkit-flex-grow: 3;
  flex-grow: 3; }

#aja-2-panel-3 {
  -webkit-flex-grow: 3;
  flex-grow: 3; }

#aja-2-panel-4 {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#aja-2-panel-5 {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#aja-2-column-1 {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 300px; }

#aja-2-panel-6 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  min-height: 75px; }

#aja-2-panel-7 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-align-self: flex-end;
  align-self: flex-end; }

#aja-2-panel-8 {
  -webkit-flex-grow: 5;
  flex-grow: 5;
  min-height: 300px; }

#aja-2-column-2 {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 300px; }

#aja-2-panel-9 {
  -webkit-flex-grow: 2;
  flex-grow: 2; }

#aja-2-panel-10 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  min-height: 75px; }

#aja-2-panel-11 {
  min-height: 200px; }

.aja-3 .panel {
  margin: 0;
  border: 0.4em solid #b3b3b3;
  box-shadow: 0.3em -1 0 #b3b3b3; }

#aja-3-row-3 {
  margin-top: -104px;
  min-height: 250px; }

#aja-3-row-4 {
  margin-top: -100px;
  min-height: 470px;
  border: 0.4em solid #b3b3b3;
  box-sizing: border-box;
  background-color: gray;
  color: white;
  text-align: center; }

#aja-3-panel-1 {
  min-height: 150px; }

#aja-3-panel-2 {
  max-height: 100px;
  margin-top: -100px; }

#aja-3-panel-3 {
  max-height: 100px;
  margin-top: -60px;
  z-index: 2; }

#aja-3-panel-4 {
  max-height: 100px;
  margin-top: 5px;
  z-index: 2; }

#aja-3-panel-5 {
  min-height: 150px;
  height: 150px;
  -webkit-flex-grow: 1.5;
  flex-grow: 1.5; }

#aja-3-panel-6 {
  z-index: 1;
  padding-top: 100px; }

#aja-3-panel-8 {
  position: relative;
  left: 10px;
  top: 15px;
  height: 200px;
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }

#aja-3-panel-9 {
  position: relative;
  top: 120px;
  left: 10px;
  height: 200px;
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); }

#aja-3-panel-10 {
  -webkit-align-self: flex-end;
  align-self: flex-end; }

body {
  background-color: white; }

.comic-page__strip, .comic-page__full {
  background-color: #b3b3b3; }

.panel {
  color: white;
  border: 1px solid black;
  background-color: gray; }
