html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'CCSoliloquous';
  src: url("../fonts/CCSoliloquous-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'CCMonologous';
  src: url("../fonts/CCMonologousRegular.ttf") format("truetype"); }
@font-face {
  font-family: 'Bradley Hand';
  src: url("../fonts/FOOO.ttf") format("truetype"); }
@font-face {
  font-family: 'CCBiffBamBoom';
  src: url("../fonts/CCBiffBamBoom.ttf") format("truetype"); }
@font-face {
  font-family: 'CCShiver';
  src: url("../fonts/CCShiver.ttf") format("truetype"); }
@font-face {
  font-family: 'CCShiverOpen';
  src: url("../fonts/CCShiverOpen.ttf") format("truetype"); }
nav {
  list-style: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: scroll; }

.site-wrap {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1; }

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

label[for="toc-toggle"] {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: .7;
  background-image: url("../../img/icons/icon__toc.svg");
  background-size: contain;
  background-repeat: no-repeat; }
  label[for="toc-toggle"]:hover {
    opacity: 1; }

.nav-trigger:checked + label {
  left: 300px;
  background-image: url("../../img/icons/icon__toc--collapse.svg"); }

.nav-trigger:checked ~ .site-wrap {
  left: 300px; }

.nav-trigger + label, .site-wrap {
  transition: left 0.3s; }

body {
  overflow-x: hidden; }

.comic-page__strip, .comic-page__full {
  width: 98%;
  margin: 1em auto 2em;
  max-width: 800px;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: border-box; }
  .comic-page__strip .row, .comic-page__full .row {
    box-sizing: border-box; }
    @media (min-width: 700px) {
      .comic-page__strip .row, .comic-page__full .row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: no-wrap;
        flex-wrap: no-wrap; } }
    .comic-page__strip .row .panel, .comic-page__full .row .panel {
      -webkit-flex-grow: 1;
      flex-grow: 1; }
.comic-page__strip .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  @media (min-width: 700px) {
    .comic-page__strip .row {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: no-wrap;
      flex-wrap: no-wrap; } }
.comic-page__strip .panel {
  max-width: 320px;
  min-width: 300px; }
  @media (min-width: 700px) {
    .comic-page__strip .panel {
      min-width: 100px; } }

.panel {
  box-sizing: border-box;
  margin: .3em; }

.one-row .panel {
  min-height: 200px; }

.two-row .panel {
  min-height: 440px; }

.three-row .panel {
  min-height: 290px; }

.four-row .panel {
  min-height: 220px; }

@media (min-width: 300px) {
  .four-panel-strip .row {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; } }

.kirby-1 .row {
  -webkit-flex-direction: column;
  flex-direction: column; }

@media (min-width: 570px) {
  .kirby-2 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

@media (min-width: 500px) {
  .kirby-3 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

@media (min-width: 500px) {
  .aja-1 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

#aja-1-panel-1 {
  min-height: 220px; }

#aja-1-panel-2, #aja-1-panel-3, #aja-1-panel-4 {
  min-height: 220px; }

#aja-1-panel-5 {
  min-height: 400px; }

@media (min-width: 520px) {
  .aja-2 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

#aja-2-panel-1 {
  min-height: 150px; }

#aja-2-panel-2 {
  -webkit-flex-grow: 3;
  flex-grow: 3; }

#aja-2-panel-3 {
  -webkit-flex-grow: 3;
  flex-grow: 3; }

#aja-2-panel-4 {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#aja-2-panel-5 {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#aja-2-column-1 {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 300px; }

#aja-2-panel-6 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  min-height: 75px; }

#aja-2-panel-7 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-align-self: flex-end;
  align-self: flex-end; }

#aja-2-panel-8 {
  -webkit-flex-grow: 5;
  flex-grow: 5;
  min-height: 300px; }

#aja-2-column-2 {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 300px; }

#aja-2-panel-9 {
  -webkit-flex-grow: 2;
  flex-grow: 2; }

#aja-2-panel-10 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  min-height: 75px; }

#aja-2-panel-11 {
  min-height: 200px; }

@media (min-width: 520px) {
  .aja-3 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }
.aja-3 .panel {
  margin: 0;
  border: 0.4em solid #4d4d4d; }

@media (min-width: 520px) {
  #aja-3-row-3 {
    margin-top: -104px;
    min-height: 250px; } }

@media (min-width: 520px) {
  #aja-3-row-4 {
    margin-top: -100px;
    min-height: 470px;
    border: 0.4em solid #4d4d4d;
    box-sizing: border-box;
    background-color: gray;
    text-align: center; } }

@media (min-width: 520px) {
  #aja-3-panel-1 {
    min-height: 150px; } }

@media (min-width: 520px) {
  #aja-3-panel-2 {
    max-height: 100px;
    margin-top: -100px; } }

@media (min-width: 520px) {
  #aja-3-panel-3 {
    max-height: 100px;
    margin-top: -60px;
    z-index: 2; } }

@media (min-width: 520px) {
  #aja-3-panel-4 {
    max-height: 100px;
    z-index: 2; } }

@media (min-width: 520px) {
  #aja-3-panel-5 {
    min-height: 150px;
    height: 150px;
    -webkit-flex-grow: 1.5;
    flex-grow: 1.5; } }

#aja-3-panel-6 {
  z-index: 1;
  padding-top: 100px; }

#aja-3-panel-8 {
  margin-top: 200px;
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg); }
  @media (min-width: 520px) {
    #aja-3-panel-8 {
      position: relative;
      margin-top: 0;
      left: -40px;
      top: 15px;
      height: 200px;
      -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg); } }

#aja-3-panel-9 {
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg); }
  @media (min-width: 520px) {
    #aja-3-panel-9 {
      position: relative;
      top: 120px;
      left: 10px;
      height: 200px;
      -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg); } }

#aja-3-panel-10 {
  -webkit-align-self: flex-end;
  align-self: flex-end; }

@media (min-width: 680px) {
  .live-text .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

.panel {
  border: 1px solid black;
  background-color: gray; }

.live-text .caption {
  font-family: CCSoliloquous, "Helvetica Neue", "Helvetica", sans-serif;
  font-size: .8em;
  line-height: 1.3em; }

.live-text .caption {
  margin: .5em .5em;
  padding: .4em;
  width: auto; }
.live-text svg {
  max-width: 100%; }

.row-two .panel {
  height: 290px; }
  @media (min-width: 680px) {
    .row-two .panel {
      height: 400px; } }

#live-text__panel-1 {
  position: relative; }
  #live-text__panel-1 svg {
    height: 84px;
    position: absolute;
    bottom: 10px;
    right: 120px; }

@media (min-width: 680px) {
  #live-text__panel-2 {
    max-width: calc(100% / 3); } }
#live-text__panel-2 svg {
  position: absolute;
  right: -30px; }
  @media (min-width: 680px) {
    #live-text__panel-2 svg {
      position: relative;
      top: 10px; } }

@media (min-width: 680px) {
  #live-text__panel-3 {
    max-width: calc(100% / 3); } }
#live-text__panel-3 svg {
  margin-left: 10px; }

@media (min-width: 680px) {
  #live-text__panel-4 {
    max-width: calc(100% / 3); } }
#live-text__panel-4 svg {
  margin-right: -120px; }
  @media (min-width: 680px) {
    #live-text__panel-4 svg {
      margin-right: -110px;
      margin-top: 20px; } }

#live-text__panel-5 svg {
  position: relative;
  top: 150px; }
  @media (min-width: 680px) {
    #live-text__panel-5 svg {
      top: 160px;
      left: -50px; } }

#live-text__panel-6 {
  position: relative; }
  #live-text__panel-6 .caption {
    position: absolute;
    bottom: 0px;
    right: 0px; }
  #live-text__panel-6 svg {
    margin-top: 10px; }

#live-text__panel-7 {
  position: relative; }
  @media (min-width: 680px) {
    #live-text__panel-7 .caption {
      position: absolute;
      right: 10px;
      top: 10px;
      max-width: 150px; } }
  #live-text__panel-7 svg {
    height: 84px;
    position: absolute;
    bottom: 0; }
  #live-text__panel-7--1 {
    left: 17%; }

#live-text__panel-1 {
  background-image: url("../../img/artwork/background-spidey.gif");
  background-size: cover;
  background-position: right -40px; }

#live-text__panel-2 {
  background-image: url("../../img/artwork/background-asterios-polyp.gif");
  background-size: cover;
  background-position: right bottom; }
  @media (min-width: 680px) {
    #live-text__panel-2 {
      background-position: -360px bottom; } }

#live-text__panel-3 {
  background-color: yellow;
  background-image: url("../../img/artwork/background-kitty.gif");
  background-size: 220px;
  background-position: 80% 40px;
  background-repeat: no-repeat; }
  @media (min-width: 680px) {
    #live-text__panel-3 {
      background-position: 20px 130px; } }

#live-text__panel-4 {
  background-color: green;
  background-image: url("../../img/artwork/background-psylocke.gif");
  background-size: 500px;
  background-position: left 40px;
  background-repeat: no-repeat; }
  @media (min-width: 680px) {
    #live-text__panel-4 {
      background-size: 360px;
      background-position: left bottom; } }

#live-text__panel-6 {
  background-color: purple;
  background-image: url("../../img/artwork/background-thing.gif");
  background-size: cover;
  background-position: 110px 55px;
  background-repeat: no-repeat; }

#live-text__panel-5 {
  background-color: white;
  background-image: url("../../img/artwork/background-plane.gif");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat; }

#live-text__panel-7 {
  background-color: brown;
  background-image: url("../../img/artwork/background-yuri.gif"), url("../../img/artwork/background-laika.gif");
  background-size: 200px, 240px;
  background-position: 0px bottom, 260px bottom;
  background-repeat: no-repeat; }

.live-text .caption {
  color: black;
  border: 1px solid black;
  background-color: white; }

#live-text__panel-2 .caption {
  color: white;
  background-color: purple;
  border: 1px solid purple; }

#live-text__panel-3 .caption {
  background-color: orange; }

#live-text__panel-4 .caption {
  background-color: yellow; }

.toy-planes {
  font-family: 'CCMonologous';
  font-size: .7em;
  line-height: 1.4em; }

.dialogue {
  text-align: center; }

.joanie {
  font-family: 'CCSoliloquous'; }

.toy-planes .caption, .toy-planes .panel-description, .toy-planes .dialogue {
  margin: .4em .4em;
  padding: .4em .6em;
  width: auto; }
.toy-planes .panel-description {
  display: none; }
.toy-planes .panel {
  min-height: 250px; }

#page01__row01 {
  display: -webkit-flex;
  display: flex; }
@media (min-width: 700px) {
  #page01__row02, #page01__row03 {
    width: 50%; } }
@media (min-width: 700px) {
  #page01__row03 {
    -webkit-flex-direction: column;
    flex-direction: column;
    float: right;
    margin-top: -773px; } }

#page01__panel02 .joanie {
  width: 11em;
  height: 11em;
  float: right;
  margin-right: 1em;
  margin-top: 1em; }
#page01__panel03 {
  position: relative;
  height: 500px; }
  @media (min-width: 700px) {
    #page01__panel03 {
      height: 765px; } }
  #page01__panel03 .joanie {
    position: absolute;
    width: 11em;
    right: 0em;
    top: 12em; }
  #page01__panel03 .accent {
    width: 15em;
    position: absolute;
    top: 0px;
    right: 0; }
  #page01__panel03 .sponsoring {
    width: 20em;
    position: absolute;
    bottom: 0;
    right: 0; }
#page01__panel04 {
  position: relative;
  height: 250px; }
  #page01__panel04 .narrator {
    position: absolute;
    bottom: 0; }
#page01__panel05 {
  position: relative; }
  #page01__panel05 .joanie {
    position: absolute;
    width: 11em;
    right: 2em;
    top: 2em; }
#page01__panel06 {
  position: relative; }
  #page01__panel06 .narrator {
    position: absolute;
    width: 15em;
    bottom: 1em;
    left: 1em; }

#page02__row01 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

#page02__panel01 {
  position: relative;
  height: 500px; }
  #page02__panel01 .leaving {
    position: absolute;
    width: 6em;
    left: 2em;
    top: 1em; }
  #page02__panel01 .remember {
    position: absolute;
    width: 16em;
    left: 11em;
    top: 5em; }
  #page02__panel01 .ready {
    position: absolute;
    width: 7em;
    left: 2em;
    bottom: 8em; }
  #page02__panel01 .future {
    position: absolute;
    width: 19em;
    right: 3em;
    bottom: 2em; }
    @media (min-width: 700px) {
      #page02__panel01 .future {
        right: 12em;
        bottom: 3em; } }
#page02__panel02 {
  position: relative;
  min-height: 200px; }
  #page02__panel02 .joanie {
    position: absolute;
    width: 25em;
    right: 1em;
    bottom: 1em; }
#page02__panel03 {
  height: 300px; }

#page03__panel01 {
  position: relative;
  height: 350px; }
  @media (min-width: 700px) {
    #page03__panel01 {
      height: 650px; } }
  #page03__panel01 .ask {
    position: absolute;
    width: 30em;
    left: 1em;
    top: 1em; }
    @media (min-width: 700px) {
      #page03__panel01 .ask {
        left: 0em;
        top: 0em;
        width: 25em; } }
  #page03__panel01 .government {
    position: absolute;
    width: 11em;
    right: 3em;
    top: 10em; }
    @media (min-width: 700px) {
      #page03__panel01 .government {
        right: 0em;
        width: 9em; } }
  #page03__panel01 .private {
    position: absolute;
    width: 20em;
    right: 4em;
    bottom: 1em; }
#page03__panel02 {
  position: relative;
  height: 350px; }
  @media (min-width: 700px) {
    #page03__panel02 {
      height: 650px; } }
  #page03__panel02 .people {
    position: absolute;
    width: 20em;
    left: 2em;
    top: 1em; }
  #page03__panel02 .food {
    position: absolute;
    width: 19em;
    left: 5em;
    top: 6em; }
    @media (min-width: 700px) {
      #page03__panel02 .food {
        top: 23em; } }
  #page03__panel02 .spinoff {
    position: absolute;
    width: 23em;
    right: 2em;
    bottom: 1em; }
    @media (min-width: 700px) {
      #page03__panel02 .spinoff {
        right: 1em; } }
#page03__panel03 {
  position: relative;
  height: 300px; }
  #page03__panel03 .wait {
    position: absolute;
    width: 20em;
    left: 1em;
    top: 0em; }
  #page03__panel03 .good {
    position: absolute;
    width: 22em;
    left: 3em;
    top: 4em; }
  #page03__panel03 .maybe {
    position: absolute;
    width: 7em;
    right: 2em;
    bottom: 1em; }
#page03__panel04 {
  position: relative;
  height: 300px; }
  #page03__panel04 .dropped {
    position: absolute;
    width: 17em;
    left: 2em;
    top: 1em; }
  #page03__panel04 .yes {
    position: absolute;
    width: 4em;
    right: 2em;
    bottom: 1em; }

#page04__row01 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

#page04__panel01 {
  position: relative;
  min-height: 200px; }
#page04__panel02 {
  position: relative;
  height: 300px; }
  #page04__panel02 .spaceman {
    position: absolute;
    right: 4em;
    top: 3em;
    width: 8em; }
    @media (min-width: 700px) {
      #page04__panel02 .spaceman {
        right: 8em;
        top: 10em; } }
#page04__panel03 {
  min-height: 150px; }
#page04__panel04 {
  height: 300px; }
#page04__panel05 {
  position: relative;
  min-height: 150px; }
  #page04__panel05 .wrap {
    position: absolute;
    left: 4em;
    top: 2em;
    width: 11em; }

#page05__row02 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

#page05__panel01 {
  position: relative; }
  #page05__panel01 .yes {
    position: absolute;
    width: 2em;
    top: 1em;
    left: 3em; }
  #page05__panel01 .agreed {
    position: absolute;
    width: 12em;
    top: 1em;
    right: 2em; }
#page05__panel02 {
  position: relative; }
  #page05__panel02 .money {
    position: absolute;
    width: 10em;
    bottom: 1em;
    right: 5em; }
#page05__panel03 {
  position: relative;
  height: 400px; }
  #page05__panel03 .deserve {
    position: absolute;
    width: 25em;
    top: 1em;
    left: 1em; }
    @media (min-width: 700px) {
      #page05__panel03 .deserve {
        top: 2em;
        left: 2em; } }
#page05__panel04 {
  position: relative; }
  #page05__panel04 .all {
    position: absolute;
    width: 15em;
    top: 7em;
    left: 2em; }
    @media (min-width: 700px) {
      #page05__panel04 .all {
        top: 7em;
        left: 5em; } }

.toy-planes .panel-description {
  color: black;
  background-color: white; }
.toy-planes .caption {
  background-color: white;
  opacity: .8; }
.toy-planes .narrator {
  color: black;
  background-color: white; }
.toy-planes .joanie {
  color: black;
  background-color: white; }
.toy-planes .driver {
  color: black;
  background-color: white;
  opacity: .5; }
.toy-planes .shopkeeper {
  color: black;
  background-color: white; }
.toy-planes .announcer {
  color: black;
  background-color: white; }

body {
  font-family: "jubilat", Georgia, serif;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 100; }

nav p, nav a {
  font-size: 1em;
  letter-spacing: .75px;
  text-decoration: none; }
nav li {
  margin: .8em 0 0 0; }

p {
  letter-spacing: 1.25px; }

footer {
  text-align: center; }

.title {
  font-size: 3em;
  line-height: 1.1em; }

.subtitle {
  font-size: 2em;
  line-height: 1.4em; }

.section-heading {
  font-size: 2em;
  line-height: 1.2em;
  letter-spacing: 1px; }

.intro-text {
  font-size: 1.5em;
  line-height: 1.2em;
  letter-spacing: 1px; }

.section-sub-heading {
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: 1px; }
  .section-sub-heading a {
    text-decoration: none; }

.running-head {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

.toc__title {
  font-size: 1.3em;
  line-height: 1.3em; }
.toc__sub-heading {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1.6em; }
  .toc__sub-heading a {
    text-decoration: none; }
.toc__entry {
  margin-left: .5em; }
  .toc__entry a {
    text-decoration: none; }
.toc__sub-entry {
  font-size: .9em;
  margin-left: 1.5em; }
.toc__demo-entry {
  font-size: .7em;
  margin: 0 0 0 2.5em; }
  .toc__demo-entry span {
    display: block;
    line-height: 0; }

nav {
  max-width: 280px; }

header, section {
  width: 100%;
  max-width: 36em;
  margin: 0 auto; }

.navigation {
  padding: 1em 0em 1em 1em; }

.site-wrap {
  padding-bottom: 3000px; }

.site-header {
  width: 95%;
  margin: 0 auto;
  padding-top: .5em;
  box-sizing: border-box; }

.running-head {
  position: fixed;
  padding: 1.6em 0;
  width: 100%; }

footer {
  padding-bottom: 100px; }

.layout-icons {
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center; }
  .layout-icons a img {
    padding: .5em;
    max-width: 7em; }

.title {
  margin: 2em 0 .2em 0; }

.subtitle {
  margin-top: .4em; }

.section-heading {
  padding-top: 4em; }

.section-sub-heading {
  margin: 1em 0 0 0; }

p {
  margin-top: .4em; }

body {
  color: #ffffff;
  background-color: #4d4d4d; }

nav {
  background: #343434; }

a {
  color: #ffffff;
  opacity: .7;
  -moz-transition: ease-in, 0.5s;
  -o-transition: ease-in, 0.5s;
  -webkit-transition: ease-in, 0.5s;
  transition: ease-in, 0.5s; }
  a:hover {
    opacity: 1; }

.site-wrap {
  background-color: #4d4d4d; }

.running-head {
  color: #ffffff;
  background-color: #4d4d4d;
  opacity: .9; }
