@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'CCSoliloquous';
  src: url("../fonts/CCSoliloquous-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'CCMonologous';
  src: url("../fonts/CCMonologousRegular.ttf") format("truetype"); }
@font-face {
  font-family: 'Bradley Hand';
  src: url("../fonts/FOOO.ttf") format("truetype"); }
@font-face {
  font-family: 'CCBiffBamBoom';
  src: url("../fonts/CCBiffBamBoom.ttf") format("truetype"); }
@font-face {
  font-family: 'CCShiver';
  src: url("../fonts/CCShiver.ttf") format("truetype"); }
@font-face {
  font-family: 'CCShiverOpen';
  src: url("../fonts/CCShiverOpen.ttf") format("truetype"); }
nav {
  list-style: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: scroll; }

.site-wrap {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1; }

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

label[for="toc-toggle"] {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: .7;
  background-image: url("../../img/icons/icon__toc.svg");
  background-size: contain;
  background-repeat: no-repeat; }
  label[for="toc-toggle"]:hover {
    opacity: 1; }

.nav-trigger:checked + label {
  left: 320px;
  background-image: url("../../img/icons/icon__toc--collapse.svg"); }

.nav-trigger:checked ~ .site-wrap {
  left: 300px; }

.nav-trigger + label, .site-wrap {
  transition: left 0.3s; }

body {
  overflow-x: hidden; }

.text .navigation .toc__title {
  display: none; }

.comic-page__strip, .comic-page__full {
  width: 98%;
  margin: 1em auto 0em;
  padding-bottom: 2em;
  max-width: 800px;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: border-box; }
  .comic-page__strip .row, .comic-page__full .row {
    box-sizing: border-box; }
    @media (min-width: 700px) {
      .comic-page__strip .row, .comic-page__full .row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: no-wrap;
        flex-wrap: no-wrap; } }
    .comic-page__strip .row .panel, .comic-page__full .row .panel {
      -webkit-flex-grow: 1;
      flex-grow: 1; }
.comic-page__strip .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  @media (min-width: 700px) {
    .comic-page__strip .row {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: no-wrap;
      flex-wrap: no-wrap; } }
.comic-page__strip .panel {
  max-width: 320px;
  min-width: 300px; }
  @media (min-width: 700px) {
    .comic-page__strip .panel {
      min-width: 100px; } }

.panel {
  box-sizing: border-box;
  margin: .3em; }

.one-row .panel {
  min-height: 200px; }

.two-row .panel {
  min-height: 440px; }

.three-row .panel {
  min-height: 290px; }

.four-row .panel {
  min-height: 220px; }

@media (min-width: 300px) {
  .four-panel-strip .row {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; } }

.kirby-1 .row {
  -webkit-flex-direction: column;
  flex-direction: column; }

@media (min-width: 570px) {
  .kirby-2 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

@media (min-width: 500px) {
  .kirby-3 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

@media (min-width: 500px) {
  .aja-1 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

#aja-1-panel-1 {
  min-height: 220px; }

#aja-1-panel-2, #aja-1-panel-3, #aja-1-panel-4 {
  min-height: 220px; }

#aja-1-panel-5 {
  min-height: 400px; }

@media (min-width: 520px) {
  .aja-2 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

#aja-2-panel-1 {
  min-height: 150px; }

#aja-2-panel-2 {
  -webkit-flex-grow: 3;
  flex-grow: 3; }

#aja-2-panel-3 {
  -webkit-flex-grow: 3;
  flex-grow: 3; }

#aja-2-panel-4 {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#aja-2-panel-5 {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

#aja-2-column-1 {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 300px; }

#aja-2-panel-6 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  min-height: 75px; }

#aja-2-panel-7 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-align-self: flex-end;
  align-self: flex-end; }

#aja-2-panel-8 {
  -webkit-flex-grow: 5;
  flex-grow: 5;
  min-height: 300px; }

#aja-2-column-2 {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 300px; }

#aja-2-panel-9 {
  -webkit-flex-grow: 2;
  flex-grow: 2; }

#aja-2-panel-10 {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  min-height: 75px; }

#aja-2-panel-11 {
  min-height: 200px; }

@media (min-width: 520px) {
  .aja-3 .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }
.aja-3 .panel {
  margin: 0;
  border: 0.4em solid #4d4d4d; }

@media (min-width: 520px) {
  #aja-3-row-3 {
    margin-top: -104px;
    min-height: 250px; } }

#aja-3-row-4 {
  border: 0.4em solid #4d4d4d;
  box-sizing: border-box;
  background-color: gray;
  text-align: center;
  max-height: 240px;
  margin-bottom: 680px; }
  @media (min-width: 520px) {
    #aja-3-row-4 {
      min-height: 470px;
      margin-top: -100px;
      margin-bottom: 0px; } }

@media (min-width: 520px) {
  #aja-3-panel-1 {
    min-height: 150px; } }

@media (min-width: 520px) {
  #aja-3-panel-2 {
    max-height: 100px;
    margin-top: -100px; } }

@media (min-width: 520px) {
  #aja-3-panel-3 {
    max-height: 100px;
    margin-top: -60px;
    z-index: 2; } }

@media (min-width: 520px) {
  #aja-3-panel-4 {
    max-height: 100px;
    z-index: 2; } }

@media (min-width: 520px) {
  #aja-3-panel-5 {
    min-height: 150px;
    height: 150px;
    -webkit-flex-grow: 1.5;
    flex-grow: 1.5; } }

#aja-3-panel-6 {
  z-index: 1;
  padding-top: 100px; }

#aja-3-panel-8 {
  margin-top: 200px;
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg); }
  @media (min-width: 520px) {
    #aja-3-panel-8 {
      position: relative;
      margin-top: 0;
      left: -40px;
      top: 15px;
      height: 200px;
      -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg); } }

#aja-3-panel-9 {
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg); }
  @media (min-width: 520px) {
    #aja-3-panel-9 {
      position: relative;
      top: 120px;
      left: 10px;
      height: 200px;
      -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg); } }

#aja-3-panel-10 {
  -webkit-align-self: flex-end;
  align-self: flex-end; }

@media (min-width: 680px) {
  .live-text .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap; } }

.panel {
  border: 1px solid black;
  background-color: gray; }

.live-text {
  letter-spacing: 0; }
  .live-text .caption {
    font-family: CCSoliloquous, "Helvetica Neue", "Helvetica", sans-serif;
    font-size: .8em;
    line-height: 1.3em;
    letter-spacing: 0; }

.live-text .caption {
  margin: .5em .5em;
  padding: .4em;
  width: auto; }
.live-text svg {
  max-width: 100%; }

.row-two .panel {
  height: 290px; }
  @media (min-width: 680px) {
    .row-two .panel {
      height: 400px; } }

#live-text__panel-1 {
  position: relative; }
  #live-text__panel-1 svg {
    height: 84px;
    position: absolute;
    bottom: 10px;
    right: -60px; }
    @media (min-width: 680px) {
      #live-text__panel-1 svg {
        right: 150px; } }

@media (min-width: 680px) {
  #live-text__panel-2 {
    max-width: calc(100% / 3); } }
#live-text__panel-2 svg {
  position: absolute;
  right: -30px; }
  @media (min-width: 680px) {
    #live-text__panel-2 svg {
      position: relative;
      top: 10px; } }

@media (min-width: 680px) {
  #live-text__panel-3 {
    max-width: calc(100% / 3); } }
#live-text__panel-3 svg {
  margin-left: 10px; }

@media (min-width: 680px) {
  #live-text__panel-4 {
    max-width: calc(100% / 3); } }
#live-text__panel-4 svg {
  margin-right: -120px; }
  @media (min-width: 680px) {
    #live-text__panel-4 svg {
      margin-right: -110px;
      margin-top: 20px; } }

#live-text__panel-5 svg {
  position: relative;
  top: 150px; }
  @media (min-width: 680px) {
    #live-text__panel-5 svg {
      top: 130px;
      left: 10px; } }

#live-text__panel-6 {
  position: relative; }
  #live-text__panel-6 .caption {
    position: absolute;
    bottom: 0px;
    right: 0px; }
  #live-text__panel-6 svg {
    margin-top: 10px;
    margin-left: 10px; }

#live-text__panel-7 {
  position: relative; }
  @media (min-width: 680px) {
    #live-text__panel-7 .caption {
      position: absolute;
      right: 10px;
      top: 10px;
      max-width: 150px; } }
  #live-text__panel-7 svg {
    height: 84px;
    position: absolute;
    bottom: 0; }
  #live-text__panel-7--1 {
    left: 17%; }
  #live-text__panel-7--2 {
    left: 70%; }
    @media (min-width: 680px) {
      #live-text__panel-7--2 {
        left: 50%; } }

#live-text__panel-1 {
  background-image: url("../../img/artwork/background-spidey.gif");
  background-size: cover; }
  @media (min-width: 680px) {
    #live-text__panel-1 {
      background-position: right -40px; } }

#live-text__panel-2 {
  background-image: url("../../img/artwork/background-asterios-polyp.gif");
  background-size: cover;
  background-position: right bottom; }
  @media (min-width: 680px) {
    #live-text__panel-2 {
      background-position: -360px bottom; } }

#live-text__panel-3 {
  background-color: yellow;
  background-image: url("../../img/artwork/background-kitty.gif");
  background-size: 220px;
  background-position: 80% 40px;
  background-repeat: no-repeat; }
  @media (min-width: 680px) {
    #live-text__panel-3 {
      background-position: 20px 130px; } }

#live-text__panel-4 {
  background-color: green;
  background-image: url("../../img/artwork/background-psylocke.gif");
  background-size: 500px;
  background-position: left 40px;
  background-repeat: no-repeat; }
  @media (min-width: 680px) {
    #live-text__panel-4 {
      background-size: 360px;
      background-position: left bottom; } }

#live-text__panel-6 {
  background-color: purple;
  background-image: url("../../img/artwork/background-thing.gif");
  background-size: cover;
  background-position: 110px 55px;
  background-repeat: no-repeat; }

#live-text__panel-5 {
  background-color: white;
  background-image: url("../../img/artwork/background-plane.gif");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat; }

#live-text__panel-7 {
  background-color: brown;
  background-image: url("../../img/artwork/background-yuri.gif"), url("../../img/artwork/background-laika.gif");
  background-size: 200px, 240px;
  background-repeat: no-repeat;
  background-position: 0px bottom, right bottom; }
  @media (min-width: 680px) {
    #live-text__panel-7 {
      background-position: 0px bottom, 260px bottom; } }

.live-text .caption {
  color: black;
  border: 1px solid black;
  background-color: white; }

#live-text__panel-2 .caption {
  color: white;
  background-color: purple;
  border: 1px solid purple; }

#live-text__panel-3 .caption {
  background-color: orange; }

#live-text__panel-4 .caption {
  background-color: yellow; }

.toy-planes .masthead {
  padding: .9em 0; }
  .toy-planes .masthead h1, .toy-planes .masthead h2 {
    text-align: center; }
  .toy-planes .masthead h1 {
    font-family: 'Bungee Hairline', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2.8em;
    letter-spacing: -.15em; }
  .toy-planes .masthead h2 {
    font-family: 'Pragati Narrow', Helvetica, sans-serif;
    font-size: .8em;
    line-height: .5em;
    opacity: .8; }
.toy-planes section, .toy-planes .comic-page__full {
  margin: 0 auto;
  padding: 0; }

footer.toy-planes p {
  font-size: .8em;
  line-height: 1.8em; }

.toy-planes {
  padding: 0em;
  margin: 0;
  min-width: 100%; }
  .toy-planes .masthead h2 {
    margin: .8em auto; }
  .toy-planes .masthead li {
    margin: .4em 0 0; }
  .toy-planes .masthead .page-nav {
    margin: 1em 0 1em -1; }
  .toy-planes .caption, .toy-planes .panel-description, .toy-planes .dialogue {
    margin: .4em .4em;
    padding: .4em .6em;
    width: auto; }
  .toy-planes .panel-description {
    display: none; }
  .toy-planes .panel {
    overflow: hidden; }

footer.toy-planes {
  margin: 0;
  padding: 1em; }
  footer.toy-planes p {
    padding-right: 2em; }

svg {
  position: absolute; }

#page01__row01 {
  display: -webkit-flex;
  display: flex; }
#page01__panel01 .background {
  margin-top: 14em;
  margin-bottom: -.5em; }
  @media (min-width: 550px) {
    #page01__panel01 .background {
      margin-top: 6em;
      margin-bottom: -4em; } }
#page01__panel02 .background {
  margin-top: -1em; }
  @media (min-width: 550px) {
    #page01__panel02 .background {
      margin-top: 0em; } }
#page01__panel02 .figures {
  margin-top: -22em;
  margin-bottom: -6em;
  margin-left: -1em; }
  @media (min-width: 550px) {
    #page01__panel02 .figures {
      margin-top: -26em; } }
@media (min-width: 700px) {
  #page01__row02, #page01__row03 {
    width: 50%; } }
#page01__row03 {
  -webkit-flex-direction: column;
  flex-direction: column; }
  #page01__row03 .cockpit {
    margin-bottom: -2em; }
    @media (min-width: 700px) {
      #page01__row03 .cockpit {
        margin-top: -2em; } }
  #page01__row03 .joanie {
    margin-top: 2em;
    margin-bottom: -2em;
    margin-left: -2em; }
  #page01__row03 .ray {
    margin-top: 4em;
    margin-bottom: -3.5em; }
    #page01__row03 .ray img {
      max-width: 11em; }

#page01__panel01—01 {
  margin-top: 1em;
  margin-left: 1em; }

#page01__panel01—02 {
  margin-top: 7em;
  margin-left: 4em; }

#page01__panel02—01 {
  margin-top: 1em;
  margin-left: .5em; }

#page01__panel02—02 {
  margin-top: 2em;
  margin-left: 8.3em; }

#page01__panel03—01 {
  margin-top: 0em;
  margin-left: 0em; }

#page01__panel04—01 {
  margin-top: .5em;
  margin-left: 6.5em; }

#page01__panel05—01 {
  margin-top: .5em;
  margin-left: 4em; }

#page02__panel01 .background {
  margin-top: 7em;
  margin-left: -1.5em; }
#page02__panel01 .embrace {
  margin-top: -4em;
  margin-left: .5em;
  margin-bottom: -5em; }
#page02__panel02 .switchback {
  margin-top: -1em;
  margin-bottom: -.5em; }
#page02__panel03 .hilltop {
  margin-top: .5em;
  margin-bottom: -.5em; }

#page02__panel01—01 {
  margin-top: .5em;
  margin-left: .5em; }

#page02__panel01—02 {
  margin-top: 3em;
  margin-left: 3em; }

#page02__panel01—03 {
  margin-top: 28.5em;
  margin-left: 7em; }

#page02__panel02—01 {
  margin-top: -.05em;
  margin-left: -.05em; }

#page02__panel03—01 {
  margin-top: .5em;
  margin-left: 7em; }

#page03__panel01 .driver {
  margin-top: -3em;
  margin-bottom: 2.5em;
  margin-left: -4em;
  width: 140%; }
#page03__panel02 .ray {
  margin-top: 5em;
  margin-left: -4em;
  width: 140%; }
#page03__panel02 .satellite {
  margin-top: -14em;
  margin-left: 1em;
  padding-bottom: 15.3em;
  width: 30%; }
#page03__panel03 .traffic {
  margin-top: 8em; }

#page03__panel01—01 {
  margin-top: 2em;
  margin-left: .5em; }

#page03__panel01—02 {
  margin-top: .5em;
  margin-left: 6em; }

#page03__panel01—03 {
  margin-top: 13.1em;
  margin-left: 4.1em; }

#page03__panel02—01 {
  margin-top: 1em;
  margin-left: 3em; }

#page03__panel03—01 {
  margin-top: 1em;
  margin-left: 1em; }

#page03__panel03—02 {
  margin-top: 4em;
  margin-left: 3em; }

#page03__panel03—03 {
  margin-top: 8em;
  margin-left: -8em; }

#page04__panel01 .market {
  margin-bottom: -.5em; }
#page04__panel02 .stall {
  margin-top: 1em;
  margin-bottom: -.5em;
  margin-left: -2em;
  width: 125%; }
#page04__panel03 .beach {
  margin-top: 5em;
  margin-bottom: 2em;
  margin-left: -4em;
  width: 110%; }
#page04__panel04 {
  margin-top: -12.3em;
  margin-right: 1em;
  width: 55%;
  float: right; }
  #page04__panel04 .lil-ray {
    margin-top: 1em;
    margin-left: 1em;
    width: 80%; }
#page04__panel05 .ray {
  margin-top: -4em;
  margin-bottom: -4em; }

#page04__panel01—01 {
  margin-top: .5em;
  margin-left: 12em; }

#page04__panel02—01 {
  margin-top: .5em;
  margin-left: .5em; }

#page04__panel05—01 {
  margin-top: 1em;
  margin-left: 2em; }

#page05__panel01 .press {
  margin-top: 1em;
  margin-bottom: -1em;
  margin-left: -2.5em;
  width: 150%; }
#page05__panel02 .ray {
  margin-top: 3em;
  margin-bottom: -1em;
  margin-left: -1em;
  width: 80%; }
#page05__panel03 .scrum {
  margin-top: -3.5em;
  margin-bottom: -1em;
  margin-left: -.5em; }
#page05__panel04 .cockpit {
  margin-bottom: -1em; }
#page05__panel05 .bottle {
  margin-bottom: -1em; }

#page05__panel01—01 {
  margin-top: .5em;
  margin-left: .25em; }

#page05__panel01—02 {
  margin-top: 1em;
  margin-left: 6em; }

#page05__panel02—01 {
  margin-top: 1em;
  margin-left: 7em; }

#page05__panel05—01 {
  margin-top: -2em;
  margin-left: 4em; }

#page06__panel01 .background {
  margin-top: 3em;
  margin-bottom: -17.5em;
  width: 180%; }
#page06__panel02 .platform {
  margin-top: 1em;
  margin-bottom: 4em;
  margin-left: 1em; }
#page06__panel03 .spaceplane {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%; }
#page06__panel04 {
  background-color: black; }
  #page06__panel04 .ray {
    margin-top: 8em;
    margin-bottom: -1em;
    width: 101%; }

#page06__panel01—01 {
  margin-top: 1em;
  margin-left: 1em; }

#page06__panel01—02 {
  margin-top: 5em;
  margin-left: 11em; }

#page06__panel01—03 {
  margin-top: 10em;
  margin-left: .25em; }

#page06__panel01—04 {
  margin-top: 15em;
  margin-left: .25em; }

#page06__panel01—05 {
  margin-top: 18em;
  margin-left: .25em; }

#page06__panel02—01 {
  margin-top: .5em;
  margin-left: .5em; }

#page06__panel02—02 {
  margin-top: 1em;
  margin-left: 4.5em; }

#page06__panel02—03 {
  margin-top: 8em;
  margin-left: 4em; }

#page06__panel03—01 {
  margin-top: .5em;
  margin-left: .5em; }

#page06__panel03—02 {
  margin-top: 2em;
  margin-left: 7em; }

#page06__panel04—01 {
  margin-top: 1em;
  margin-left: 1em; }

.toy-planes {
  background-color: black; }
  .toy-planes .panel {
    background-color: white; }

body {
  font-family: "jubilat", Georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 100;
  letter-spacing: 1px; }

li a {
  text-decoration: none; }

nav p, nav a {
  font-size: 1em;
  letter-spacing: .75px; }
nav li {
  margin: .8em 0 0 0; }

figure p {
  font-size: .8em;
  max-width: 34em;
  line-height: 1.2em; }

.text {
  max-width: 34em;
  margin: 0 auto; }

.title {
  font-size: 3em;
  line-height: 1.1em;
  text-align: center; }

.subtitle {
  font-size: 2em;
  line-height: 1.4em;
  text-align: center; }

.byline {
  font-size: 1.2em;
  line-height: 3em;
  text-align: center; }

.section-heading {
  font-size: 2em;
  line-height: 1.2em; }

.section-sub-heading {
  font-size: 1.6em;
  line-height: 1.8em; }
  .section-sub-heading a {
    text-decoration: none; }

.running-head, .page-title {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

.toc__title {
  font-size: 1.3em;
  line-height: 1.3em; }
.toc__sub-heading {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1.6em; }
  .toc__sub-heading a {
    text-decoration: none; }
.toc__entry {
  margin-left: .5em; }
  .toc__entry a {
    text-decoration: none; }
.toc__sub-entry {
  font-size: .9em;
  margin-left: 1.5em; }
.toc__demo-entry {
  font-size: .7em;
  margin: 0 0 0 2.5em; }
  .toc__demo-entry span {
    display: block;
    line-height: 0; }

.previous {
  text-align: left; }

.next {
  text-align: right;
  font-size: 1.3em; }

nav {
  max-width: 300px; }

header, section {
  margin: 0 auto;
  padding: 0 1em; }

blockquote {
  margin: 1.4em; }

figure {
  padding: 2em 0em 1em 0em;
  max-width: 1000px;
  margin: 0 auto; }
  figure img {
    width: 100%; }
  figure p {
    padding: 0em 1.7em 0em 1.7em;
    margin: 1em auto; }

.two-up {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: no-wrap;
  flex-wrap: no-wrap; }

.navigation {
  padding: 1em 1em 5em 1em; }

.site-wrap {
  min-height: 100vh; }

.page-nav .hidden {
  display: none; }
.page-nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .page-nav ul li {
    margin: 2em 1em 1em 1em; }

.site-header {
  width: 95%;
  margin: 0 auto;
  padding-top: .5em;
  box-sizing: border-box; }

.running-head {
  position: fixed;
  padding: 1.6em 0;
  width: 100%; }

footer {
  padding-bottom: 100px; }

.layout-icons {
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center; }
  .layout-icons a img {
    padding: .5em;
    max-width: 7em; }

.title {
  margin: 2em 0 .2em 0; }

.subtitle {
  margin-top: .4em; }

.section-heading {
  padding-top: 4em;
  padding-bottom: .8em; }

.section-sub-heading {
  margin: 1em 2em 0 0; }

p {
  margin-top: .4em; }

.warning span {
  display: block; }

body {
  color: #ffffff;
  opacity: .9;
  background-color: #4d4d4d; }

blockquote {
  color: #b3b3b3; }

nav {
  background: #343434; }

a {
  color: #ffffff;
  opacity: .7;
  -moz-transition: ease-in, 0.5s;
  -o-transition: ease-in, 0.5s;
  -webkit-transition: ease-in, 0.5s;
  transition: ease-in, 0.5s; }
  a:hover {
    opacity: 1; }

.site-wrap {
  background-color: #4d4d4d; }

.running-head {
  color: #ffffff;
  opacity: .9; }

figure p {
  color: #b3b3b3; }
